<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.hackandtravel" version="0.0.2" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OpenDoor</name>
    <description>
        Quick and dirty homecontrol app.
    </description>
    <author email="hackandtravel@gmail.com" href="http://hackandtravel.tumblr.com">
        Hack &amp; Travel
    </author>
    <content src="index.html"/>
    <access origin="*"/>
</widget>

