<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>OpenDoor</name>
    <description>
      Quick and dirty homecontrol app.
    </description>
    <author email="f.klampfer@gmail.com" href="http://hackandtravel.tumblr.com">
      Florian Klampfer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
</widget>
