/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
}

#app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

a {
  cursor: pointer;
}

.row {
  margin-left: 0!important;
  margin-right: 0!important;
}

.col-md-12 {
  padding-left: 0px;
  padding-right: 0px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

label {
  font-size: 16px;
}

#btn-open-door {
  position: absolute;
  top:50%;
  left:50%;
  width: 100px;
  margin-left: -50px;
  height: 100px;
  margin-top: -50px;
  border-radius:8px
}

#btn-open-door span {
  font-size: 42px;
}

.navbar-brand { 
  display: inline-block;
  position: absolute;
  width: 150px;
  top: 0px;
  left: 50%;
  margin-left: -75px;
  text-align: center;
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 65px 10px;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -ms-transition: -ms-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  transition: transform 0.2s;
}

.page-left {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.page-middle {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.page-right {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.navbar {
  position: absolute;
}

@media screen and (min-width:768px) {
  .page {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    padding: 65px 20px;
  }

  #page-open-door {
    width: 50%;
    top:0;
    left:0;
    border-right: 1px solid #e7e7e7;
  }

  #page-new-door {
    width: 50%;
    top:0;
    left:50%;
  }

  #btn-new, #back-btn {
    display: none;
  }
}

.btn-danger {
  text-shadow: none;
}


.loading { 
  cursor: wait;
  border-radius: 100%;
  margin: 0 auto;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation: loading .5s infinite linear;
  -moz-animation: loading .5s infinite linear;
  -ms-animation: loading .5s infinite linear;
  -o-animation: loading .5s infinite linear;
  animation: loading .5s infinite linear;
}

.spin {
  border: 5px solid #777;
  border-top: 5px solid rgba(0,0,0,0);
  border-left: 5px solid rgba(0,0,0,0);
  width: 18px;
  height: 18px; 
}

@-webkit-keyframes loading { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); }; }
@-moz-keyframes loading { 0% { -moz-transform: rotate(0deg); } 100% { -moz-transform: rotate(360deg); }; }
@-ms-keyframes loading { 0% { -ms-transform: rotate(0deg); } 100% { -ms-transform: rotate(360deg); }; }
@-o-keyframes loading { 0% { -o-transform: rotate(0deg); } 100% { -o-transform: rotate(360deg); }; }
@keyframes loading { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }; }
